html {
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

header {
    font-weight: 750;
}

footer {
    padding: 0px 0px 0px 15px !important;
}

footer p {
    color: #4a4a4a;
    font-size: 0.8em;
}

p {
    margin: 0px;
}

#placeholder {
    width: 100%;
}

#mid {
    text-align: center;
}

#right {
    float: right;
}

/*Change Bootstrap Settings*/

.bg-primary {
    background-color: #006491 !important;
}

.bg-secondary {
    background-color: #dadada !important;
}

.btn-info {
    background-color: #29a50a;
    border-color: #29a50a;
}

.form-control {
    height: 30px;
    padding: 1px 7px !important;
}

.navbar-brand {
    color: white !important;
}

.nav-link {
    text-align: center;
    color: white !important;
}

footer .col {
    min-width: 250px;
    padding: 15px 30px !important;
}

form .col {
    padding: 5px 20px !important;
}

form .row {
    margin-right: 0px !important;
}